body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Container {
  margin: 0;
  padding: 0;
}

.Input-Container {
  padding: 20px 30px 15px;
  background-color: #4696e5;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
}

.add-element {
  display: block;
  text-align: center;
}

#myInput {
  padding: 13px 25px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  width: 70%;
}

#myInput:focus {
  outline: transparent;
}

::placeholder {
  color: #4696e5;
  opacity: 0.5;
  font-size: 18px;
}

.add-Btn {
  padding: 10px 25px;
  border: 0.5px solid white;
  border-radius: 7px;
  background-color: #4696e5;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  width: auto;
  cursor: pointer;
}

.add-Btn:focus {
  outline: transparent;
}

h2 {
  text-align: center;
  color: #7c7c7c;
  font-size: 35px;
  padding: 40px 0 0 0;
}

p {
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  color: #7c7c7c;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 50%;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.Modal-Btn {
  padding: 10px 25px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: #4696e5;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  width: auto;
  margin-right: 10px;
  cursor: pointer;
}

.Modal-Btn:focus {
  outline: transparent;
}

#ModalInput {
  padding: 10px 15px;
  background-color: white;
  border: 0.5px solid #cccbcb;
  border-radius: 5px;
  color: #4696e5;
  font-size: 15px;
  margin-right: 10px;
}

#ModalInput:focus {
  outline: transparent;
}

#myUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.select-class {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.task-filter {
  padding: 10px;
  border-radius: 7px;
  border: 0.5px solid white;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  background-color: #4696e5;
  color: white;
  width: auto;
}
.task-filter > option {
  background-color: #4696e5;
  border: 0.5px solid white;
  color: white;
  width: auto;
  font-size: 17px;
}
